body {
  background-color: #fff;
}
ul {
  margin: 0;
  padding: 0;
}

ul#menu li {
  display: inline;
  list-style-type: none;
  margin-right: 5px;
}

ul#shunned {
  text-align: center;
}

ul#shunned li {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #8A0C1B;
  border-color: #8A0C1B;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  padding: 3px 0px 2px 0px;
  background-color: inherit;
}

a:visited {
  color: #8A0C1B;
  border-color: #8A0C1B;
  border-width: 0 0 1px 0;
  border-style: none none dotted none;
  padding: 3px 0px 2px 0px;
  background-color: inherit;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 0 auto 0 auto;
  color: #44354F;
}

h1 a:link, h1 a:visited {
  color: #000;
  border: none;
}

h1.title {
  font-size: 1.8em;
  margin-top: 200px;
  text-align: center;
}

ul#title-menu {
  width: 300px;
  margin: 0 auto;
}

ul#title-menu li {
  display: inline;
  list-style-type: none;
  margin-right: 5px;
}

p#past-results {
  margin-top: 200px;
  text-align: center;
}

p.footnote {
  font-size: .8em;
  text-align: center;
}

h2, h3 {
  clear: both;
  text-align: center;
}

h3 {
  margin-top: 15px;
}

table.results, table#average_ratings, table#respondent_profile, table#bilgebilge, table#bilge_table {
  margin: 0 auto;
}

table#respondent_profile {
  margin-top: 10px;
}

table.results td, table.results th {
  padding-right: 25px;
}

#home-link {
  float: right;
  margin: 15px 20px 0 0;
}

#content {
  margin: 0 15px 15px 15px;
}

p#explanation {
  margin: 10px 0 0 0;
  font-size: .9em;
}
p.view_full {
  margin-top: 15px;
  text-align: center;
}
p.sublink {
  font-size: .9em;
  text-align: center;
  margin-top: 10px;

}

#top_tens ul {
  width: 500px;
  margin: 0 auto 25px auto;

}
